body {
  font-family: Arial, sans-serif;
  background:#f8f8f8;
}

.library {
  max-width: 400px;
  margin: 20pxf auto;
  background: #ffffff;
  padding: 15px 10px 25px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.library h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.book {
  text-align: center;
  margin-bottom: 30px;
	background:#ffffff;
}

.book img {
  width: 160px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.book h3 {
  margin: 5px 0 2px;
  font-size: 14px;
}

.book .author {
  margin: 0 0 10px;
  font-size: 12px;
  color: #777777;
}

.price {
  background: #23c24b;
  color: #fff;
  font-weight: bold;
  padding: 6px 0;
  margin-top: 5px;
}
